# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName epanoventures.com
AuthUserFile /home/epano/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/epano/public_html/_vti_pvt/service.grp
